.slide{
    position: relative; 
    width: 1366px;
    height: 768px;
    margin-left: -8px;
    margin-top: -8px;
}


a{
    text-decoration: none;
    color: white
}

a:hover{
    color: orange;
    
}

.slidephoto{
    width: 1366px;
    height: 768px;
    position: relative;
}

.header{
    position: absolute; 
    top: 20px;
    color: white;
    width: 100%;
}

.headerhoto{
    margin-left: 160px;
    margin-top: 50px;
    opacity: 1;
}

.headerhoto:hover{
    opacity: 0;
}


.headerhoto2{
    margin-left: -57px;
    margin-top: 50px;
    opacity: 0;
}

.headerhoto2:hover{
    opacity: 1;
}


.headertext{
    margin-top: -63px;
    padding-left: 223px;
    padding-bottom: 33px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.headertext1:hover{
    color: #F26522;
}

.headertext2:hover{
    color: #F26522;
}

.headertext3:hover{
    color: #F26522;
}

.headertext2{
    margin-left: 750px;
    font-size: 18px;
    margin-top: -55px;
    
    font-weight: 400;
}

.headertext3{
    margin-left: 820px;
    font-size: 18px;
    margin-top: 5px;
    
    font-weight: 400;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    top: 40px;
    margin-top: 95px;
    margin-left: 160px;
    text-align: center;
    

}

.content1:hover .box1{
    opacity: 1;
    transform: translateY(-56px);
    
}

.content2:hover .box1{
    opacity: 1;
    transform: translateY(-56px);
    
}

.content3:hover .box1{
    opacity: 1;
    transform: translateY(-62px);
    
}

.content4:hover .box1{
    opacity: 1;
    transform: translateY(-56px);
    
}

.content5:hover .box1{
    opacity: 1;
    transform: translateY(-56px);
    
}

.content6:hover .box1{
    opacity: 1;
    transform: translateY(-56px);
    
}

.text1{
    
    top: 320px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1{
    opacity: 0;
    background-color: #F26522;
    width: 300px;
    display: flex;
   
    align-items: flex-end;
    transform:translateY(0px);
    transition: 0.1s;
    height: 50px;
    margin-left: 2px;
    color: white;
}

.box1:hover{
opacity: 1;
transition: 0.5s;
}

.content2{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 422px;
    margin-top: 0px; 
    margin-left: 162px;
}

.content3{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 40px;
    margin-top: 95px;
    margin-left: 524px;  
    height: 263px;
}

.photo3{
    margin-left: -2px;
}

.content4{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 422px;
    padding-top: 0px; 
    margin-left: 524px;
}

.content5{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    
    top: 40px;
    margin-top: 326px;
    margin-left: 886px;
    height: 263px;
}

.content6{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 422px;
    padding-top: 0px;
    margin-left: 886px;
    
}

.photo5{
    position: absolute;
    top: 0px;
    margin-top: -232px;
    margin-left: -150px;
    width: 300px;
}

.text2{
    margin-left: 16px;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.text3{
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -22px;
    margin-bottom: 4px;
}

.text4{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-left: 140px;
    margin-bottom: 6px;
}

.img{
    margin-left: 16px;
    margin-bottom: 9px;
}